@import 'fonts/fonts';

@import '~@reaction/theme/variables';
@import '~@angular/material/theming';
@import '~normalize-scss/sass/normalize';

/**
 * Normalizing CSS
 */
@include normalize;

/**
  * Material Styles
  */

@include angular-material-theme($reaction-theme);
@include mat-core;

* {
  font-family: $font-stack-roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $reaction-color-whitesmoke;
}
