@import "roboto";
@import "roboto-condensed";

$font-stack-roboto: "Roboto", "Helvetica Neue", sans-serif;

$font-stack-roboto-condensed: "Roboto Condensed", sans-serif;

* {
    font-family: $font-stack-roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
